A-Tiendas/AgenteTiendas.json
{
  "name": "AgenteTiendas",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Levanta un Ticket",
        "formDescription": "Este formulario esta diseñado para que las tiendas levanten un ticket para temas relacionados con su terminal",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ticket",
              "fieldType": "file",
              "acceptFileTypes": ".jpg, .png, .img, .jpeg",
              "requiredField": true
            },
            {
              "fieldLabel": "Nombre",
              "placeholder": "Escribe tu nombre",
              "requiredField": true
            },
            {
              "fieldLabel": "Sucursal",
              "placeholder": "De que sucursal nos escribes",
              "requiredField": true
            },
            {
              "fieldLabel": "Cantidad",
              "fieldType": "number",
              "placeholder": "Ingresa el monto del ticket o tickets",
              "requiredField": true
            },
            {
              "fieldLabel": "Motivo",
              "placeholder": "¿Cuál es la razón de la solicitud?",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "399082b1-9362-48ad-9bab-08863d484683",
      "name": "On form submission",
      "webhookId": "1f0c1fb9-5c77-4df3-aa60-199a5193d05f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Nombre }}\n{{ $json.Sucursal }}\n{{ $json.Cantidad }}\n{{ $json.Motivo }}\n{{ $json.submittedAt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "43513568-ed0c-4b43-8ff4-cddae4f0f762",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        208
      ],
      "id": "dc5aab11-7266-4c51-9fb7-c0f1970774e7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fKavKBDAFMDMeKJR",
          "name": "OpenAi Neto"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Sucursal }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        224
      ],
      "id": "d084cb86-fad1-41e8-9877-3c5f45987f08",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p6UGVGR8SY0fvNSl",
          "mode": "list",
          "cachedResultName": "Liberacion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}",
            "Sucursal": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sucursal', ``, 'string') }}",
            "Cantidad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cantidad', ``, 'number') }}",
            "Motivo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Motivo', ``, 'string') }}",
            "url": "={{ $('On form submission').item.json.Ticket[0].filename }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Sucursal",
              "displayName": "Sucursal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Cantidad",
              "displayName": "Cantidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "Motivo",
              "displayName": "Motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        752,
        224
      ],
      "id": "83fbd8b6-11fc-45a9-800e-654f1358cf77",
      "name": "Liberacion"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Liberacion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45d9359d-cc01-4bf1-9ebc-06a92bed2a95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "8idkKfCSIbdULXe3",
  "tags": []
}