A-PatriciaOperaciones/AgentePatricia.json
{
  "name": "AgentePatricia",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Slack Trigger').item.json.text }}\n{{ $('Slack Trigger').item.json.files[0].mimetype }}",
        "options": {
          "systemMessage": "=Rol\nEres un asistente de automatización conectado a Slack. Tu tarea consular los precios de los productos, para ello debes armar una consulta para BigQuery de la tabla `neto-cloud.agente_rebeca.tiendas_articulos_precio` , filtrando por el numero de tienda que se te proporciono, que equivale al campo FITIENDAID, y traer los valores de los campos FCTIENDA, FCARTICULO y FNPRECIO, para lograrlo usa la herramienta `ExecuteQuery`, para ejecutar la consulta, es importante que sepas que las consultas seran por aproximado o sinonimos es decir no se buscara por el nombre completo y se buscara en el campo FCARTICULO, antes de buscar debes convertir la palabra a buscar a mayuzculas si es que no viene en mayusculas, ya que los nombres de lo productos en la base de datos siempres estan en mayusculas, el resultado debes retornarlo como un codigo de slack en el siguiente formato de ejemplo:\n\n#   FCTIENDA        FCARTICULO                                      FNPRECIO\n----------------------------------------------------------------------------\n1   PASO LIMONERO   HARINA DE TRIGO BEST CHOICE   1 KG               $15.0  \n2   PASO LIMONERO   HARINA LA MODERNA TRIGO 1 KG                     $17.0  \n3   PASO LIMONERO   HARINA BEST CHOICE MAIZ 1 KG                     $15.0  \n4   PASO LIMONERO   HARINA PARA HOT CAKES TRES ESTRELLAS   850 GR    $31.0  \n5   PASO LIMONERO   HARINA DE TRIGO BEST CHOICE CM 9 KG              $130.0 \n6   PASO LIMONERO   HARINA DE TRIGO SELECTA   1 KG                   $20.0  \n7   PASO LIMONERO   HARINA MINSA DE MAIZ 1 KG                        $18.0  \n8   PASO LIMONERO   HARINA BEST CHOICE TRIGO 9KGS                    $130.0 \n9   PASO LIMONERO   HARINA BEST CHOICE ML 1 KG                       $15.0  \n10  PASO LIMONERO   TORTILLA DE HARINA    DEL BARRIO   15PZ          $20.0 \n\nSi el resultado es muy grande por favor envialo en partes pero siempre en el formato de tabla como codigo de slack para que no se vea mal.\n\nSi recibes una imagen con una solicitud de analizar los productos de la imagen o cualquier instruccion que de a entender que quieren analizar una imagen, foto, o extraer precios o cualquier sononimo o intencion de analizar una imagen o extracicion de productos, articulos, items, sku, etc. con el numero de tienda, deberas enviar el url de la imagen recibida a la herramienta `Imagen`\n\nSi te saludan o preguntan sobre tus funciones contesta con:\n¡Hola! 👋 Soy Patricia, tu asistente de análisis de precios. 💼\n\n¿Qué puedo hacer por ti?\n\n:mag: BÚSQUEDA EN BASE DE DATOS\nPuedo buscar productos en nuestra base de datos interna para verificar que los precios en tienda sean los correctos.\n\nEjemplo:\n\"¿Cuánto cuesta la Harina en la tienda 100?\"\n\"Busca el precio del Queso Panela en tienda 205\"\n\n📌 Importante: Siempre indica el número de tienda, ya que cada una tiene sus propios precios.\n\n:camera: ANÁLISIS POR IMAGEN\nTambién puedo analizar precios desde fotos de los estantes de tu tienda.\n\nEjemplo:\n\"Por favor analiza los productos de esta imagen de la tienda 100\"\n\"Revisa los precios de esta foto de la tienda 305\"\n\n:clipboard: Mi análisis incluye:\n• 🔍 Identificación de productos y precios\n• 💰 Comparación con base de datos\n• ✅ Estado del producto (correcto/incorrecto)\n• 📊 Diferencia de precios si aplica\n• 🏪 Tienda de referencia\n\n¿En qué puedo ayudarte hoy? 😊\n\n\nNunca coloques la palabra slack el inicio de la tabla como en este ejemolo:\nslack\n#   FCTIENDA        FCARTICULO                                     FNPRECIO\n----------------------------------------------------------------------------\n1   LA OBRERA       LECHE BEST CHOICE  CHOCOLATE 236 ML            $7.0   \n2   LA OBRERA       LECHE SANTA CLARA FRESA 180 ML                 $11.0  \n3   LA OBRERA       LECHE UHT BEST CHOICE  DESLACTOSADA SEMI 1 LT  $22.0  \n4   LA OBRERA       PASTELITO AMICO CHOCOLATE CON LECHE     30 GRS $12.0  \n5   LA OBRERA       LECHE SANTA CLARA CHOCOLATE 180 ML             $11.0  \n6   LA OBRERA       00140 LECHE SANTA CLARA LIGHT 1 LT PLUS        $32.5  \n7   LA OBRERA       LECHE ASTRA  CONDENSADA 1 KG                   $59.0  \n8   LA OBRERA       CHOCOLATE C LECHE HERSHEYS   20 GR             $10.0  \n9   LA OBRERA       LECHE FRUTAL ALPURA FRUTOS DEL BOSQUE 250ML    $10.0  \n10  LA OBRERA       LECHE CARNATION EVAPORADA 360 GRS              $23.5  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "85329800-2b7c-46bb-8b17-7cfb64628fca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        208
      ],
      "id": "4218872c-e98c-4052-972b-98ed9a685dc5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0NxwCTqkas7pZzo6",
          "name": "OpenAi A-PatriciaOperaciones"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para analizar imágenes, y retorna toda la información completa",
        "workflowId": {
          "__rl": true,
          "value": "LQ4zOzdA99hvu7lb",
          "mode": "list",
          "cachedResultUrl": "/workflow/LQ4zOzdA99hvu7lb",
          "cachedResultName": "AnalisisImagenes#A-Patricia"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('Slack Trigger').item.json.files[0].url_private }}",
            "userId": "={{ $('Slack Trigger').item.json.files[0].user }}",
            "tienda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tienda', ``, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tienda",
              "displayName": "tienda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        720,
        208
      ],
      "id": "fbe3ef68-cc73-470f-9a1c-224e88213185",
      "name": "Imagen"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $('AI Agent').item.json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "d23b1c61-8d26-4838-81d1-f47a8f19ce29",
      "name": "Send a message",
      "webhookId": "180dbcc2-55e4-4e18-a1de-a5b15c7acb6f",
      "credentials": {
        "slackApi": {
          "id": "tjFQOpXJsn6zPXuz",
          "name": "Slack A-Patricia Operaciones"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "neto-cloud",
          "mode": "list",
          "cachedResultName": "Neto-Cloud",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=neto-cloud"
        },
        "sqlQuery": "{{ $fromAI('query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQueryTool",
      "typeVersion": 2.1,
      "position": [
        1168,
        208
      ],
      "id": "5045c116-de4a-43b5-a3b0-ce2b64f3bdd3",
      "name": "ExecuteQuery",
      "credentials": {
        "googleApi": {
          "id": "BrAyOfCNy2JTszLb",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando necesites un uuid univoco e irrepetible",
        "workflowId": {
          "__rl": true,
          "value": "D5LxxphpWPFdg6dg",
          "mode": "list",
          "cachedResultUrl": "/workflow/D5LxxphpWPFdg6dg",
          "cachedResultName": "uuid#A-Precios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        832,
        208
      ],
      "id": "e7075b60-2b24-481c-b71a-c619b32c4d40",
      "name": "uuid"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para obtener los datos del usuario.",
        "workflowId": {
          "__rl": true,
          "value": "j7iJeUrVWsLQTW9A",
          "mode": "list",
          "cachedResultUrl": "/workflow/j7iJeUrVWsLQTW9A",
          "cachedResultName": "ObtenerDatosUsuario#A-Precios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Slack Trigger').item.json.user }}"
          },
          "matchingColumns": [
            "userId"
          ],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        960,
        208
      ],
      "id": "d18c3177-f03a-4d6e-a7b2-16837cf25f1e",
      "name": "ObtenerDatosUsuario"
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $json.ts }}",
        "name": "eyes"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "9d0feaae-2089-4c94-ad57-4d572468a95c",
      "name": "Add a reaction",
      "webhookId": "2f0093d6-bb30-40f2-9c48-9f0b842f1522",
      "credentials": {
        "slackApi": {
          "id": "tjFQOpXJsn6zPXuz",
          "name": "Slack A-Patricia Operaciones"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $('Slack Trigger').item.json.ts }}",
        "name": "eyes"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "d39f5166-c598-4b5c-bd43-e3746300c4d5",
      "name": "Remove a reaction",
      "webhookId": "83355261-73b1-491f-b1e6-b4ff7ad5cd7a",
      "credentials": {
        "slackApi": {
          "id": "tjFQOpXJsn6zPXuz",
          "name": "Slack A-Patricia Operaciones"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $json.message.ts }}",
        "name": "white_check_mark"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1248,
        0
      ],
      "id": "db9de8be-5375-4031-b2ab-af0e8d368fa2",
      "name": "Add a reaction1",
      "webhookId": "1e8e613e-a802-4aae-b93d-5c1698498eed",
      "credentials": {
        "slackApi": {
          "id": "tjFQOpXJsn6zPXuz",
          "name": "Slack A-Patricia Operaciones"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0jVy3dajeP8yXj3D",
          "mode": "list",
          "cachedResultUrl": "/workflow/0jVy3dajeP8yXj3D",
          "cachedResultName": "Mandar logs a bquery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution id": "={{ $execution.id }}",
            "id slack": "={{ $('Slack Trigger').item.json.user }}",
            "Nombre_agente": "A-PatriciaOperaciones",
            "input": "={{ $('Slack Trigger').item.json.text }}",
            "output_agente": "análisis"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution id",
              "displayName": "execution id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id slack",
              "displayName": "id slack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Nombre_agente",
              "displayName": "Nombre_agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "output_agente",
              "displayName": "output_agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1424,
        0
      ],
      "id": "e6a68df7-5c80-44b4-98c7-0d37c767e888",
      "name": "Call 'Mandar logs a bquery'"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {
          "resolveIds": true,
          "userIds": [
            "U09V86UTZNX",
            "U0972R3NWA3",
            "U09738VER1D",
            "U0987BJSTPA"
          ]
        }
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5989fd5b-0b78-47b9-a8a4-2c4847bea852",
      "name": "Slack Trigger",
      "webhookId": "8e1b7a1e-287c-427f-8fc0-bfc69711990a",
      "credentials": {
        "slackApi": {
          "id": "tjFQOpXJsn6zPXuz",
          "name": "Slack A-Patricia Operaciones"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Remove a reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Imagen": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Add a reaction1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExecuteQuery": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "uuid": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerDatosUsuario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add a reaction": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove a reaction": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a reaction1": {
      "main": [
        [
          {
            "node": "Call 'Mandar logs a bquery'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Add a reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d3fa71e-e281-4ded-8dd4-591000d63b34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "SN4HrmsyN25NoQuk",
  "tags": []
}