A-Precios/AnalisisImagen#A-Precios.json
{
  "name": "AnalisisImagen#A-Precios",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "userId"
            },
            {
              "name": "tienda"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        -112
      ],
      "id": "f07b3a68-8121-4d9c-8e0c-e97612a38e74",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        16,
        -112
      ],
      "id": "6be1b9e0-88e3-4eae-aab9-20c343646a40",
      "name": "Download Image",
      "credentials": {
        "slackApi": {
          "id": "VMKl7PQWY7SJPP58",
          "name": "Slack account #A-Precios"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=\"Analiza la imagen de un estante de cosméticos en un supermercado.\nTu tarea es:\n\nIdentificar los productos visibles (nombre del producto o tipo: esmalte, rubor, máscara, labial, delineador, toallitas desmaquillantes, etc.).\n\nClasificarlos en categorías (ej. maquillaje de labios, ojos, rostro, uñas, accesorios, cuidado facial, higiene femenina, etc.).\n\nExtraer los precios asociados a cada producto y relacionarlos correctamente.\n\nDetectar si existen diferentes tonos, presentaciones o formatos del mismo producto (ej. varios colores de esmalte o labiales).\n\nIdentificar productos en cajas abiertas o colocados en el suelo como inventario extra.\n\nSeñalar espacios vacíos en el estante que indiquen productos agotados.\n\nEntregar la información en formato JSON con la siguiente estructura:\n\n{\n  \"categoria\": \"Nombre de la categoría\",\n  \"productos\": [\n    {\n      \"nombre\": \"Nombre del producto o tipo\",\n      \"precio\": \"Precio identificado\",\n      \"presentacion\": \"tono, color, tamaño si aplica\",\n      \"observaciones\": \"ej. varias versiones, espacio vacío, inventario en piso\"\n    }\n  ]\n}\n\n\nConcéntrate en que el análisis sea claro, estructurado y útil para un inventario de cosméticos.\"",
        "inputType": "base64",
        "options": {
          "detail": "high",
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1696,
        -112
      ],
      "id": "218322ff-0234-4bfc-928d-b280d9895184",
      "name": "Analyze image1",
      "credentials": {
        "openAiApi": {
          "id": "fKavKBDAFMDMeKJR",
          "name": "OpenAi Neto"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "=\"Analiza la imagen de un estante de un supermercado.\nTu tarea es:\n\nIdentificar los productos visibles en el estante (nombre del producto o marca cuando sea legible).\n\nClasificarlos por categorías (ej. analgésicos, antiácidos, electrolitos, alcohol, algodón, enjuague bucal, etc.).\n\nExtraer los precios asociados a cada producto y relacionarlos correctamente.\n\nRecorrer estante por estante producto por producto y no omitir ninguno.\n\nSeñalar si hay productos repetidos o en diferentes presentaciones (ej. diferentes sabores, tamaños o versiones del mismo medicamento).\n\nDetectar espacios vacíos en el estante que indiquen productos agotados.\n\nOrganizar el resultado en formato JSON con la siguiente estructura:\n\n{\n  \"categoria\": \"Nombre de la categoría\",\n  \"productos\": [\n    {\n      \"nombre\": \"Nombre del producto\",\n      \"precio\": \"Precio identificado\",\n      \"presentacion\": \"si aplica\",\n      \"observaciones\": \"ej. espacio vacío, varias versiones, etc.\"\n    }\n  ]\n}\n\n\nEnfócate en que el análisis sea claro, organizado y útil para un inventario.\"\n\nSolo retorna el JSON puto no regreses nada mas y mucho menos saltos de linea.\n\nnunca coloques ```json al inicio ni ``` al final y no uses \\n, solo pon en json puro.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        224,
        -112
      ],
      "id": "dd9922b6-e380-4ae7-8582-79b69ee7a699",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "8oeByDM6tvSZbm94",
          "name": "Google Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Intentamos capturar el texto desde distintas rutas comunes\nlet extractedText = $input.first().json.text \n  || $input.first().json.content?.parts?.[0]?.text \n  || \"\";\n\n// Verificamos que realmente tengamos texto\nif (!extractedText || extractedText.trim() === \"\") {\n  throw new Error(\"No se encontró texto válido en la entrada.\");\n}\n\n// Buscar el bloque de JSON entre ```json y ```\nconst jsonMatch = extractedText.match(/```json([\\s\\S]*?)```/);\n\nlet products = [];\n\nif (jsonMatch) {\n  try {\n    // Parsear el JSON extraído\n    const parsed = JSON.parse(jsonMatch[1]);\n\n    // Recorremos categorías y productos\n    for (const category of parsed) {\n      for (const product of category.productos) {\n        products.push({\n          categoria: category.categoria,\n          nombre: product.nombre,\n          precio: product.precio,\n          presentacion: product.presentacion,\n          observaciones: product.observaciones\n        });\n      }\n    }\n  } catch (e) {\n    throw new Error(\"Error al parsear JSON: \" + e.message);\n  }\n} else {\n  throw new Error(\"No se encontró un bloque JSON en el texto extraído.\");\n}\n\nreturn [{ json: { products } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -112
      ],
      "id": "61dacdf5-1a6d-43ef-9640-b3775554536e",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "neto-cloud",
          "mode": "list",
          "cachedResultName": "Neto-Cloud",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=neto-cloud"
        },
        "sqlQuery": "SELECT *\nFROM `neto-cloud.agente_eva.catalogo_articulos_neto`\nWHERE UPPER(`Nombre de artículo`) IN ('{{ $json.products[0].nombre }}') AND `Tiendas asigandas` IN (1164);",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        1536,
        -112
      ],
      "id": "6f4a31e2-2999-4583-aa65-aa904cf2086b",
      "name": "Execute a SQL query",
      "credentials": {
        "googleApi": {
          "id": "BrAyOfCNy2JTszLb",
          "name": "Google Service Account account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Importar crypto\nconst crypto = require('crypto');\n\n// 1. Obtenemos el texto JSON que viene dentro de content.parts[0].text\nconst rawText = items[0].json.content.parts[0].text;\n\n// 2. Parseamos el string a objeto\nconst data = JSON.parse(rawText);\n\n// 3. Preparamos la salida \"aplanada\"\nconst salida = [];\n\nfor (const seccion of data) { // La data ya viene como array de secciones\n  if (!seccion.productos) continue; // Saltar secciones sin productos\n  for (const producto of seccion.productos) {\n    salida.push({\n      json: {\n        categoria: seccion.categoria,\n        nombre: producto.nombre,\n        precio: producto.precio === \"No visible\" ? null : producto.precio, // manejar precios no visibles\n        presentacion: producto.presentacion,\n        observaciones: producto.observaciones,\n        tienda: $('When Executed by Another Workflow').first().json.tienda,\n        userid: $('When Executed by Another Workflow').first().json.userId,\n        imagenAnalizada: $('When Executed by Another Workflow').first().json.url,\n        id_producto: crypto.randomUUID() // UUID único para cada producto\n      }\n    });\n  }\n}\n\nreturn salida;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -112
      ],
      "id": "ee9d1e4f-6650-4991-8202-f91112d63e11",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "insert",
        "projectId": {
          "__rl": true,
          "value": "neto-cloud",
          "mode": "list",
          "cachedResultName": "Neto-Cloud",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=neto-cloud"
        },
        "datasetId": {
          "__rl": true,
          "value": "agente_precios",
          "mode": "list",
          "cachedResultName": "agente_precios"
        },
        "tableId": {
          "__rl": true,
          "value": "productos_precios",
          "mode": "list",
          "cachedResultName": "productos_precios"
        },
        "dataMode": "define",
        "fieldsUi": {
          "values": [
            {
              "fieldId": "id_producto",
              "fieldValue": "={{ $json.id_producto }}"
            },
            {
              "fieldId": "categoria",
              "fieldValue": "={{ $json.categoria }}"
            },
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $json.nombre }}"
            },
            {
              "fieldId": "presentacion",
              "fieldValue": "={{ $json.presentacion }}"
            },
            {
              "fieldId": "precio_observado",
              "fieldValue": "={{ $json.precio }}"
            },
            {
              "fieldId": "tienda",
              "fieldValue": "={{ $json.tienda }}"
            },
            {
              "fieldId": "usuario",
              "fieldValue": "={{ $json.userid }}"
            },
            {
              "fieldId": "urlFoto",
              "fieldValue": "={{ $json.imagenAnalizada }}"
            },
            {
              "fieldId": "estatus",
              "fieldValue": "pendiente"
            },
            {
              "fieldId": "fecha_reporte",
              "fieldValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        640,
        -112
      ],
      "id": "b5e6f1e2-3426-460a-a402-5ee598935808",
      "name": "Insert rows in a table",
      "credentials": {
        "googleApi": {
          "id": "BrAyOfCNy2JTszLb",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        -112
      ],
      "id": "ad1f2788-d4e4-4c30-afa3-0d4025c03634",
      "name": "Wait",
      "webhookId": "7360f138-9306-47d2-a29b-1dcb3640f0b5"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92f2c66a-d134-4bd4-a4b1-ac4e15520114",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "OWZjsw82Yp4xEDQ3",
  "tags": []
}