A-GPT/GeneraImagen.json
{
  "name": "GeneraImagen",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "ChanelID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "1f119d85-5332-45db-8d75-4e78612b9e3c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        0
      ],
      "id": "84a38a09-7f37-488d-b2b5-1c6d456afc41",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "fKavKBDAFMDMeKJR",
          "name": "OpenAi Neto"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "channelId": "={{ $('When Executed by Another Workflow').item.json.ChanelID }}",
          "fileName": "img.png",
          "title": "=img-{{ $now.format('yyyy-MM-dd HH:mm')}}"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "1e62eab8-62f6-4eb5-9f43-ed829abf9ce0",
      "name": "Upload a file",
      "webhookId": "482b13c6-4c2f-410a-86a8-3f56277b98ac",
      "credentials": {
        "slackApi": {
          "id": "WPl1Iv7WmYbtplFW",
          "name": "Slack #A-GPT"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "2433970a-8d45-4963-9748-4fdbb7fbb777",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.user }}",
          "mode": "id"
        },
        "text": "={{ $json.permalink }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        672,
        0
      ],
      "id": "d6713f08-9c3b-45ca-bb77-456ddca4a522",
      "name": "Send a message",
      "webhookId": "c16739f2-7e4f-4e92-8c51-fa8ae06618bf",
      "credentials": {
        "slackApi": {
          "id": "WPl1Iv7WmYbtplFW",
          "name": "Slack #A-GPT"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Motoratón en Marte, vehículo futurista, ruedas robustas sobre superficie marciana, estilo realista, iluminado por el sol marciano",
          "ChanelID": "D09497Y7URF"
        }
      }
    ]
  },
  "connections": {
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23d01b5f-d211-4843-914d-52432f25295e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "oH4iknfOsoezabSq",
  "tags": []
}