A-GPT/Logs.json
{
  "name": "Logs",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "usuarioId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        80
      ],
      "id": "5ecaca4d-39cd-48c8-9758-2b1d93ecf579",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "logsgpt",
          "mode": "list",
          "cachedResultName": "logsgpt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "correo": "={{ $('Edit Fields').item.json.correo }}",
            "userid": "={{ $('Edit Fields').item.json.userId }}",
            "username": "={{ $('Edit Fields').item.json.userName }}",
            "peticiones": 1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "correo",
              "displayName": "correo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "peticiones",
              "displayName": "peticiones",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        208
      ],
      "id": "16bc64df-6fd0-44aa-be3d-4bcdf1cd733d",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.usuarioId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -896,
        80
      ],
      "id": "dceb7370-5194-4ff3-84a0-f77ebd05b386",
      "name": "Get information about a user",
      "webhookId": "91296286-fcf7-44fb-9a08-e2904291ed15",
      "credentials": {
        "slackApi": {
          "id": "WPl1Iv7WmYbtplFW",
          "name": "Slack #A-GPT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13ed7363-5060-4a38-9c00-f675c7f5717b",
              "name": "correo",
              "value": "={{ $json.name }}@tiendasneto.com",
              "type": "string"
            },
            {
              "id": "81eed328-24f7-4879-b810-f3a0f9bc9977",
              "name": "userId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b59324bb-9c34-453c-a853-fbb2ddd1183c",
              "name": "userName",
              "value": "={{ $json.profile.display_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        80
      ],
      "id": "26db1d2b-bd95-47dc-b5ad-0e4aead524a2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "Select peticiones from logsgpt where userid = '{{ $('When Executed by Another Workflow').item.json.usuarioId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "a2143cbb-3e08-479b-a76c-880990232c7d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0222ec7-da37-4b85-975d-498a78959ac1",
              "leftValue": "={{ $json.existe }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        80
      ],
      "id": "c2898111-b476-454a-b8cf-470eebf0a937",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1\n    FROM logsgpt\n    WHERE userId = 'U091B7WDXJ4'\n) AS existe;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        80
      ],
      "id": "31d08a4d-d445-47d0-9c7f-55d5a1b2eac5",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "logsgpt",
          "mode": "list",
          "cachedResultName": "logsgpt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userid": "={{ $('When Executed by Another Workflow').item.json.usuarioId }}",
            "peticiones": "={{ $json.peticiones }}\n",
            "username": "={{ $('Edit Fields').item.json.userName }}",
            "correo": "={{ $('Edit Fields').item.json.correo }}"
          },
          "matchingColumns": [
            "userid"
          ],
          "schema": [
            {
              "id": "correo",
              "displayName": "correo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "peticiones",
              "displayName": "peticiones",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        0
      ],
      "id": "a35d39fc-b48d-4f62-8485-87b6154bdc3d",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let peticiones = $input.first().json.peticiones;\npeticiones++;\nconsole.log(peticiones);\nreturn { peticiones };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "6eb3c706-e740-4dcd-b911-f24cf7c04ad2",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "9ef5aaf9-2286-45ec-8316-0a33deadc2e9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "71b2c3df-2c79-4281-bddc-bce752bb5171",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95026bde-c893-4b18-9774-830bf244f5d1",
              "name": "success",
              "value": "OK",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "613aecf6-34cd-41b5-a10b-05c5dd051abb",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get information about a user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get information about a user": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fdf8f4b8-abb3-4168-9938-c335a6388423",
  "meta": {
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "OuOOaUSzKrRZ6L5b",
  "tags": []
}