A-Anthropic/AnalisisDocumentosAnthropic.json
{
  "name": "AnalisisDocumentosAnthropic",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "UserID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1024,
        912
      ],
      "id": "e3f283eb-fa83-42d2-b9fb-5600b4157658",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        32
      ],
      "id": "10d0f692-17e3-4cf2-8997-5e67fee847dc",
      "name": "HTTP Request",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -48,
        32
      ],
      "id": "0fa29de1-6fe7-4f93-8e0f-3720350e6d1f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        544
      ],
      "id": "653a1806-d1f2-4c87-8712-6415070e18ab",
      "name": "HTTP Request1",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "20f45e4b-7186-4752-b999-e4d4b220d658"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d706b7e0-5c89-42e9-ab39-0e462181c2d6",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EXCELNEW"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2578e382-453a-4750-bd3a-8d8aec66f4e6",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".xls",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EXCEL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d1972510-f79d-419c-8fad-f77a8d67eafc",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".rtf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RTF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d4305a6e-7dd2-421a-85e8-0cb2c6b5b2af",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d5b901da-66db-4be0-920d-359141277bff",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".html",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTML"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c43757b7-50c9-487e-b718-8d44e6b1a50b",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".ics",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ICS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "404f702d-01b2-4e38-bdb4-8b46733210d5",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".json",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JSON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a50474b7-9958-438a-bfd6-7c71c9204280",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".ods",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ODS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fffd6be5-329e-4fc7-93bc-0a4d520b567f",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": "=.txt",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16a1c92f-bd3e-4ae5-b4ad-cd5f8e9330c7",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".xml",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XML"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -736,
        752
      ],
      "id": "12615502-d1c3-4426-9b7f-fe54d5c1f4aa",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        192
      ],
      "id": "590ed2f9-821d-4b93-b136-240bda9066f0",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        192
      ],
      "id": "b884d8a1-7c43-4ac6-b740-eef6f5a71088",
      "name": "HTTP Request2",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        368
      ],
      "id": "a2b8fe71-3dae-42a8-9ec0-eefbe3f1950f",
      "name": "HTTP Request3",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        368
      ],
      "id": "32e4e800-846e-4d73-ba4e-30e17b2fc9ba",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        544
      ],
      "id": "094eb93e-3d86-432a-87a8-a190a75dad64",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        704
      ],
      "id": "0473a20d-10a0-4fc6-9b5a-4d6835217c1e",
      "name": "HTTP Request4",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        704
      ],
      "id": "037d39b9-35b7-459e-b226-df8d7b4dfd63",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        912
      ],
      "id": "1271f01d-7d26-46fb-bb26-2b5db78d042c",
      "name": "HTTP Request5",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        912
      ],
      "id": "84798361-1d70-4ddf-b2c7-611ea4f3ce9c",
      "name": "Extract from File5"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        1088
      ],
      "id": "e868ab1a-f6e9-49c0-8ca5-09ae22c388d4",
      "name": "HTTP Request6",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromIcs",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        1088
      ],
      "id": "ca2b4765-a8c5-4448-acec-6184792ecbc6",
      "name": "Extract from File6"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        1264
      ],
      "id": "a4ca0578-db29-46b9-bdb6-d54351731a07",
      "name": "HTTP Request7",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        1264
      ],
      "id": "3c9cff60-5ac8-4f7b-986f-c31c3c84bd19",
      "name": "Extract from File7"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        1424
      ],
      "id": "879d195a-8b55-4161-979a-c474667d07e9",
      "name": "HTTP Request8",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "operation": "ods",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        1424
      ],
      "id": "40296264-ce3e-43be-9851-128554b0e359",
      "name": "Extract from File8"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        1584
      ],
      "id": "a066448c-9f61-49fa-9901-28208d47d8ad",
      "name": "HTTP Request9",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        1584
      ],
      "id": "df5d1485-8922-4c1f-9c1f-fbb6d799c2a9",
      "name": "Extract from File9"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        1728
      ],
      "id": "ed9a20fd-f5f1-4bb8-a224-c63ba8871881",
      "name": "HTTP Request10",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        1728
      ],
      "id": "7e9bf9ce-762a-4191-a36f-eb0610548620",
      "name": "Extract from File10"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "url": "https://files.slack.com/files-pri/T9XJE11PE-F095VF3FC4E/download/vta_semanal_categoria.pdf",
          "UserID": "U091B7WDXJ4"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Extract from File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Extract from File7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Extract from File8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Extract from File9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Extract from File10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e6c86b3-747f-4508-865f-bc152d3abf02",
  "meta": {
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "SYcmKD7HOPbS73gV",
  "tags": []
}