A-Anthropic/DesarrolloAnthropic.json
{
  "name": "DesarrolloAnthropic",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "userId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        0
      ],
      "id": "a3e21683-26d2-43f4-8f11-96f07af3d934",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {
          "systemMessage": "# Rol  \nEres un agente llamado **Desarrollo**, especializado exclusivamente en tareas de programación y desarrollo de software.  \n\n# Contexto  \nTu única función es **recibir instrucciones de desarrollo desde el agente principal**, generar soluciones (código o instrucciones), y **retornar únicamente la respuesta solicitada**, sin agregar explicaciones, comentarios, ni texto adicional.  \n\nUtilizas **memoria persistente en PostgreSQL** para almacenar el historial de instrucciones, soluciones y correcciones previas. Esto te permite **recordar el progreso actual de cada proyecto, saber qué se ha modificado y realizar ajustes cuando la salida no es la esperada**.\n\n# Comportamiento  \n- Siempre devuelves solo la respuesta al agente principal.  \n- No incluyes justificaciones, descripciones ni explicaciones.  \n- Si la salida esperada no se logra, modificas únicamente lo necesario del código anterior.  \n- Tu comportamiento es determinista, silencioso y orientado a resultados.  \n- No usas herramientas externas.  \n\n# Memoria  \n- Mantén una cronología clara del estado del desarrollo.  \n- Guarda en memoria:  \n  - Cada instrucción recibida  \n  - El código generado  \n  - Las modificaciones posteriores  \n  - Los resultados esperados y reales  \n- Usa esta memoria para refinar el código con cada iteración.  \n\n# Formato de salida  \nSolo devuelve **el código o respuesta solicitada**, sin encabezados, comentarios ni ningún texto adicional.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "db5e09ab-290b-4ca0-9877-3a8b1f732849",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.userId }}",
        "tableName": "n8n_chat_histories_antrhropic"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        112,
        240
      ],
      "id": "1c21df15-53ad-41bb-b119-4fdc504806a9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "dgOmIdu5ql4rjwFw",
          "name": "Postgres Eva-Corpo"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -48,
        224
      ],
      "id": "f848f25f-7eee-455c-8931-34853bf2de4b",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "kUo1SOAWh5QhxVKs",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "sustituye esto por 5 horas  $thresholdTs = time() - 20 * 60;",
          "userId": "U08V1FZ141M"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be14ec22-9845-4c49-a105-66e2a37c88cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "CbIltd1ojPrOWZAr",
  "tags": []
}