A-Anthropic/LogsAnthropic.json
{
  "name": "LogsAnthropic",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "usuarioId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1376,
        80
      ],
      "id": "04f610d3-e010-486b-8703-660448b70862",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "logsanthropic",
          "mode": "list",
          "cachedResultName": "logsanthropic"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "correo": "={{ $json.correo }}",
            "userid": "={{ $json.userId }}",
            "username": "={{ $json.userName }}",
            "peticiones": 1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "correo",
              "displayName": "correo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "peticiones",
              "displayName": "peticiones",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        208
      ],
      "id": "f77dd732-7614-461a-b094-ebd6ca12c664",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.usuarioId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1168,
        80
      ],
      "id": "96b542ce-aa59-4a10-abdd-e963ce0cf257",
      "name": "Get information about a user",
      "webhookId": "91296286-fcf7-44fb-9a08-e2904291ed15",
      "credentials": {
        "slackApi": {
          "id": "n7wD8vDIIrYxWjM9",
          "name": "Slack account #A-Anthropic"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13ed7363-5060-4a38-9c00-f675c7f5717b",
              "name": "correo",
              "value": "={{ $json.name }}@tiendasneto.com",
              "type": "string"
            },
            {
              "id": "81eed328-24f7-4879-b810-f3a0f9bc9977",
              "name": "userId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b59324bb-9c34-453c-a853-fbb2ddd1183c",
              "name": "userName",
              "value": "={{ $json.profile.display_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        80
      ],
      "id": "28562425-0178-442a-8fbf-743e43f421a6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "Select peticiones from logsanthropic where userid = '{{ $('When Executed by Another Workflow').item.json.usuarioId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        0
      ],
      "id": "a37a4b98-3c3a-48b9-be63-b8455fffa52d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0222ec7-da37-4b85-975d-498a78959ac1",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        80
      ],
      "id": "d607ce6f-bfc6-4fbf-8380-9dbae52777f7",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1\n    FROM logsanthropic\n    WHERE userId = 'U091B7WDXJ4'\n) AS existe;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        80
      ],
      "id": "e087b240-49cd-449f-b641-cac8f2287581",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "logsanthropic",
          "mode": "list",
          "cachedResultName": "logsanthropic"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userid": "={{ $('When Executed by Another Workflow').item.json.usuarioId }}",
            "peticiones": "={{ $json.peticiones }}\n",
            "username": "="
          },
          "matchingColumns": [
            "userid"
          ],
          "schema": [
            {
              "id": "correo",
              "displayName": "correo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "peticiones",
              "displayName": "peticiones",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        0
      ],
      "id": "e7c5746e-06a4-4e84-9765-54bf5ccc8539",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let peticiones = $input.first().json.peticiones;\npeticiones++;\nconsole.log(peticiones);\nreturn { peticiones };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ],
      "id": "e20ed004-b316-4951-a6a2-d6c24e2b5c1c",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "e5820e24-135c-462b-a761-4097dae207f9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -48,
        208
      ],
      "id": "80e5cc95-1371-44ff-bd8e-c5c18d72e69d",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95026bde-c893-4b18-9774-830bf244f5d1",
              "name": "success",
              "value": "OK",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "94b9fed0-7faf-4174-ac51-19e3755fbd0d",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Que es esta imagen?",
          "usuarioId": "U091B7WDXJ4"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get information about a user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get information about a user": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45c8cc5e-514d-4c5a-b894-67bee29b4706",
  "meta": {
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "W1Axa8OzQDBhEgMx",
  "tags": []
}