A-Gemini/AgenteGemini.json
{
  "name": "AgenteGemini",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "16fa1d83-9a8f-433d-b6ac-1850e61ef1e5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b21d775-5854-4440-a627-51774c5afa42",
                    "leftValue": "={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "57075f88-6db1-49c3-92ca-724e114281db",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "video/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b5933fa2-328f-4b32-b0dd-354d73c616c4",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a720a28c-bb73-4d67-bffd-7f039f197cfc",
                    "leftValue": "={{ $json.subtype }}",
                    "rightValue": "file_share",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "archivo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2400,
        64
      ],
      "id": "48aca3f9-6784-4aaf-8624-f33e983fa1e8",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Slack Trigger').item.json.text }} {{ $json.files?.[0]?.url_private_download || '' }}",
        "options": {
          "systemMessage": "=Rol\nEres un agente de IA multifuncional integrado en n8n, especializado en:\n✅ Análisis de imágenes/documentos\n✅ Generación de imágenes\n✅ Cálculos matemáticos\n✅ Revisión lógica y verificación de datos\n\nRegistro obligatorio: Todas las interacciones deben quedar registradas en el sistema.\n\nFecha y hora actual\n{{ $now }} (actualizado automáticamente)\n\nEstilo de respuesta\nLenguaje: Natural, claro y conciso.\n\nTono: Profesional pero cercano. Humor/sarcasmo opcionales (solo si aportan valor).\n\nPrioridad: Precisión > Velocidad. Verifica siempre antes de responder.\n\nHerramientas y reglas de uso\n🔹 Usa SIEMPRE la herramienta adecuada según el tipo de archivo o solicitud:\n\nHerramienta\tUso\tParámetros obligatorios\n##Calculadora\tCálculos matemáticos, estadísticas o conversiones.\t{{ $json.text }} (ej: \"5+3*2\")\n##WEB\tBusquedas en Internet (ej: \"¿Quien es Leonel Messi?\")\n##Think\tValidar lógica de respuestas (antes de enviar).\t{{ $json.text }} (pregunta a verificar)\n##AnalisisImagen\tAnalizar imágenes (descripción, detección de objetos, etc.).\t{{ $json.files?.[0]?.url_private || '' }}\n##GenerarImagen\tCrear imágenes desde texto.\t{{ $json.channel }} + {{ $json.text }}\n##AnalisisDocumentos\tProcesar PDFs, Word, Excel (extraer texto, tablas, etc.) la herramienta te regresa un json guarda la informacion que viene en texto en memoria y si preguntan algo del archivo toma la informacion de ahi.\t{{ $json.files?.[0]?.url_private || '' }}\n##Logs Esta herramienta se usa siempre al contestar para llevar el control de las solicitudes.\n##Graficar Esta herramienta se usa siempre que te pidan generar una gráfica.\nReglas críticas:\nSi el usuario envía un archivo:\n\n📄 PDF/Word/Excel → ##AnalisisDocumentos\n\n🖼️ Imagen (JPG/PNG) → ##AnalisisImagen\n\nSi piden generar una imagen: → ##GenerarImagen + prompt en {{ $json.text }}.\n\nAntes de responder: Usa ##Think para validar coherencia (ej: cálculos complejos).\n\nEjemplos de uso correcto\nUsuario sube un PDF:\n\ntext\nAcción: ##AnalisisDocumentos  \nInput: {{ $json.files?.[0]?.url_private || '' }}\nPiden calcular \"√25+2\":\n\n\ntext\nAcción: ##Calculadora  \nInput: {{ \"sqrt(25)+2\" }}  \nSolicitan una imagen de un bosque:\n\ntext\nAcción: ##GenerarImagen  \nInput: Canal: {{ $json.channel }}, Prompt: \"Bosque al atardecer, estilo realista\"  \nCorrecciones aplicadas\n🛠️ Estructura clara: Separado en secciones lógicas.\n\n🎯 Instrucciones específicas: Elimina ambigüedades en el uso de herramientas.\n\n🔄 Variables compatibles: Usa { } correctamente para n8n.\n\n⚠️ Validación explícita: Añadida regla de verificación con ##Think.\n\n# Comportamiento  \nRespondes en lenguaje natural, con un tono amable, profesional y directo, pero con un toque de humor, asegurate de no usar modismos de ningun lugar y contesta de manera refinada. \n\npara enfatizar solo usa un * en lugar de **, ejemolo:\n**Prepárate** usa mejor *Prepárate*\n\nNo conteste de esta forma los titulos:\n### Ejemplo de carta de renuncia formal usa mejor >*Ejemplo de carta de renuncia formal.*\n\nSiempre que sugieras ejemplo de documentos constesta dentro de un cuadro listo para copiar y pegar.\n\npara dar un mejor formato considera lo siguiente:\nColoca asteriscos al comienzo y al final del texto: \n*tu texto*\nColoca guiones bajos al comienzo y al final del texto:\n_tu texto_\nColoca virgulillas al comienzo y al final del texto:\n~tu texto~\nColoca acentos graves al comienzo y al final del texto:\n`tu texto`\nAgrega una cuña delante del texto:\n>tu texto\nAgrega tres acentos graves delante del texto:\n```tu texto\nAgrega el número uno y, luego, pulsa  delante del texto:\n1. tu texto\nAgrega un asterisco y, luego, pulsa espacio  delante del texto:\n* tu texto\n\nPara aplicar sangría a una línea, pulsa tab\n-Cuando te envien un documento, necesito que guardes informacion que te retorna la herramienta `AnalisisDocuemntos` y la mantengas en memoria, ya que te hare preguntas posteriores el mismo documento y si respondes mal nos meten a la carcel.\n-si no recibes documento toma encuenta que la imformacion solicitada es del documento anterior asi que responde con la informacion que guastaste en memoria que debe ser toda la que hay en el documento.\n- Nunca debes pedir informacion que ya te proporcionaron, si no tienes la informacion envia el ultimo enlace a documentos que te enviaron a la herramienta `AnalisisDocuemntos` y guarda el reultado en memoria para que puedas contestar las preguntas.\n-Cuando recibas cualquier peticion de Desarrollo, codigo, funciones, clases etc. Utiliza la herramienta `Desarrollo`\n\n-Siempre que te hagan una solicitud llama a la herramienta `Logs`\n\n-Siempre que te soliciten una grafica usa la herramienta `Graficar`, si no te proporcionan los datos usa la herramienta 'WEB' para obtenerlos.\n\n-Contesta solo lo que se te solicita, no mezcles respuestas.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -304,
        112
      ],
      "id": "fae2214a-97aa-43a0-84c6-4103a03b93c1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "description": "Asegurate que el agente principal use las herramientas correctas:\nEjemplo si recibes un PDF o un Archivo de texto envialo con AnalisisDocumentos"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -400,
        320
      ],
      "id": "04901015-4c9d-4648-befa-e9eee951c5b6",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -288,
        320
      ],
      "id": "228bf508-f18f-48ba-a093-332ee1001ef5",
      "name": "Calculadora"
    },
    {
      "parameters": {
        "description": "utiliza esta herramienta si recibes una imagen",
        "workflowId": {
          "__rl": true,
          "value": "yY8LqN633voywbxe",
          "mode": "list",
          "cachedResultName": "AnalisisImagenGemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('Slack Trigger').item.json.files[0].url_private_download }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -160,
        320
      ],
      "id": "214c1e9c-fe6c-4702-a1a7-a4e9f60f08ad",
      "name": "AnalisisImagen"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RBswp4UrzTqepmfL",
          "mode": "list",
          "cachedResultName": "GenerarImagenGemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', ``, 'string') }}",
            "ChanelID": "={{ $('Slack Trigger').item.json.channel }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ChanelID",
              "displayName": "ChanelID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        0,
        320
      ],
      "id": "73398e11-bf25-4fa1-9e24-b03520d47825",
      "name": "GenerarImagen"
    },
    {
      "parameters": {
        "description": "Usala cuando recibas enlaces de documentos PDF, xls, word, pokerpoint, etc.",
        "workflowId": {
          "__rl": true,
          "value": "rIVfF9JYta2U80f0",
          "mode": "list",
          "cachedResultName": "AnalisisDocuemntosGemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('Slack Trigger').item.json?.files?.[0]?.url_private_download || ''}} {{ $fromAI('query') }}",
            "UserID": "={{ $('Slack Trigger').item.json.user }}",
            "peticion": "={{ $('Slack Trigger').item.json.text }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "UserID",
              "displayName": "UserID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "peticion",
              "displayName": "peticion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        192,
        320
      ],
      "id": "9fdf7def-a981-4f9b-a150-abb368281d84",
      "name": "AnalisisDocumentos",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "description": "Usa esta herramienta en cada ejecución,.",
        "workflowId": {
          "__rl": true,
          "value": "vRXftCqw9dfybsTH",
          "mode": "list",
          "cachedResultName": "LogsGemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "usuarioId": "={{ $('Slack Trigger').item.json.user }}",
            "query": "={{ $('Slack Trigger').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usuarioId",
              "displayName": "usuarioId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        352,
        320
      ],
      "id": "2bdea1d1-03a5-4a02-b270-8717515d74a7",
      "name": "Logs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec069102-81cf-4668-ac7c-89f4dc2e2682",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        -416
      ],
      "id": "d65a2c85-8bc0-4015-9685-f96360054f74",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        -416
      ],
      "id": "537d9904-2b0a-427d-ada7-5d57d08231cb",
      "name": "HTTP Request5",
      "credentials": {
        "slackApi": {
          "id": "k6FSHdRrXaiVb1DD",
          "name": "Slack #A-Gemini"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1296,
        -416
      ],
      "id": "9e2851f3-9059-458f-bda8-688e2a3d5464",
      "name": "Transcribe a recording1",
      "credentials": {
        "openAiApi": {
          "id": "fKavKBDAFMDMeKJR",
          "name": "OpenAi Neto"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.user }}",
        "tableName": "n8n_chat_histories_geminiv2",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -576,
        320
      ],
      "id": "f0098fc9-6f9a-41be-9e43-4298846717ab",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "B1lVzRYnGkK7saFa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        320
      ],
      "id": "90debd04-ae8f-4a52-8e72-651352c156a6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fKavKBDAFMDMeKJR",
          "name": "OpenAi Neto"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando no tengas información.",
        "workflowId": {
          "__rl": true,
          "value": "mTJVZ01Ilo9FpLKt",
          "mode": "list",
          "cachedResultName": "WEBGemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        320
      ],
      "id": "a5da47be-cb19-4aa8-a8d1-191c9ec563ec",
      "name": "WEB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b3e6f04-8dd3-4283-89eb-2b0ecbd94883",
              "leftValue": "={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[0].type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        144,
        80
      ],
      "id": "57562cfc-8ef6-4826-9280-5626ab144a2e",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "onyx",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        512,
        -144
      ],
      "id": "625b7771-bee9-4695-9d1f-db63aa882ff2",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "fKavKBDAFMDMeKJR",
          "name": "OpenAi Neto"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "channelId": "={{ $('Slack Trigger').item.json.channel }}",
          "fileName": "=audio{{$now.format('yyyy-MM-dd')}}.mp3"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        736,
        -144
      ],
      "id": "3379b416-82f6-40e2-b0aa-78ff99c98a5b",
      "name": "Upload a file",
      "webhookId": "f39a8908-c1d7-4757-9336-c42d7f5dfdf5",
      "credentials": {
        "slackApi": {
          "id": "k6FSHdRrXaiVb1DD",
          "name": "Slack #A-Gemini"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.user }}",
          "mode": "id"
        },
        "text": "={{ $('AI Agent').item.json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        752,
        112
      ],
      "id": "730ac7e3-b05e-47ba-8256-f97ddc4ac9a9",
      "name": "Send a message",
      "webhookId": "ff8a4dfe-78ea-4e90-8843-cf6c8ed5e788",
      "credentials": {
        "slackApi": {
          "id": "k6FSHdRrXaiVb1DD",
          "name": "Slack #A-Gemini"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1136,
        112
      ],
      "id": "5dbd8f22-279b-45eb-81d1-8a597cce4d71",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1328,
        -144
      ],
      "id": "1d517021-2b03-423e-8573-97c95283056d",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando ocupes cualquier tema de desarrollo.",
        "workflowId": {
          "__rl": true,
          "value": "tcyRiJ0mmhJWuC0s",
          "mode": "list",
          "cachedResultName": "DesarrolloGemini"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $('Slack Trigger').item.json.blocks[0].elements[0].elements[0].text }}",
            "userId": "={{ $('Slack Trigger').item.json.user }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        608,
        320
      ],
      "id": "83e8bd39-6e23-4e0c-98cd-a14f58fa7056",
      "name": "Desarrollo"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FTsldQREFMVEksgA",
          "mode": "list",
          "cachedResultName": "GraficaGPT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type', ``, 'string') }}",
            "Label": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label', ``, 'string') }}",
            "Data": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data', ``, 'string') }}",
            "Channel": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Channel', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Label",
              "displayName": "Label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        752,
        320
      ],
      "id": "1138d219-12a9-4f19-bbcb-9fdbbee71c98",
      "name": "Graficar"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -896,
        304
      ],
      "id": "dfce4d34-0d5b-4c0c-a384-fbff84953194",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8oeByDM6tvSZbm94",
          "name": "Google Gemini Key"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando te pidan generar un video.",
        "workflowId": {
          "__rl": true,
          "value": "NrNpauE94lPZEyhq",
          "mode": "list",
          "cachedResultName": "CreacionVideos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $('Slack Trigger').item.json.text }}",
            "usuarioId": "={{ $('Slack Trigger').item.json.user }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "usuarioId",
              "displayName": "usuarioId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        896,
        320
      ],
      "id": "abcab818-0f3d-48dd-891d-da548185b839",
      "name": "CreacionVideos",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $json.ts }}",
        "name": "eyes"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -2592,
        112
      ],
      "id": "eb4a5931-144a-46b3-938a-cecbd461673a",
      "name": "Add a reaction",
      "webhookId": "ae71ee19-14d6-4b53-8440-1d15e80fff05",
      "credentials": {
        "slackApi": {
          "id": "k6FSHdRrXaiVb1DD",
          "name": "Slack #A-Gemini"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $('Slack Trigger').item.json.ts }}",
        "name": "eyes"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        944,
        -144
      ],
      "id": "b55ee96e-195f-453d-b64b-fa831735d4ea",
      "name": "Remove a reaction1",
      "webhookId": "affe813f-a664-4e83-a636-9612d73bcc92",
      "credentials": {
        "slackApi": {
          "id": "k6FSHdRrXaiVb1DD",
          "name": "Slack #A-Gemini"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $('Slack Trigger').item.json.ts }}",
        "name": "white_check_mark"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1120,
        -144
      ],
      "id": "846fc7b3-d0c4-44cc-907b-ee427f075639",
      "name": "Add a reaction1",
      "webhookId": "66b31c78-7070-4c44-90b4-f72e7fb6d478",
      "credentials": {
        "slackApi": {
          "id": "k6FSHdRrXaiVb1DD",
          "name": "Slack #A-Gemini"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $('Slack Trigger').item.json.ts }}",
        "name": "eyes"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        512,
        112
      ],
      "id": "67e1970a-dd6c-4e5b-a5f8-092a2a8143a4",
      "name": "Remove a reaction2",
      "webhookId": "6b8c36d9-91d5-42bf-9ab3-fba27fbf593f",
      "credentials": {
        "slackApi": {
          "id": "k6FSHdRrXaiVb1DD",
          "name": "Slack #A-Gemini"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $('Slack Trigger').item.json.ts }}",
        "name": "white_check_mark"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        944,
        112
      ],
      "id": "4268510a-2873-4f01-ba1a-5c836c6a4e55",
      "name": "Add a reaction2",
      "webhookId": "b1475ea9-4556-4ad1-979a-4b2a58b50520",
      "credentials": {
        "slackApi": {
          "id": "k6FSHdRrXaiVb1DD",
          "name": "Slack #A-Gemini"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1088,
        320
      ],
      "id": "5abdf1f6-8225-4331-98a4-0421f016d336",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "kUo1SOAWh5QhxVKs",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {
          "resolveIds": true,
          "userIds": [
            "U0950KQEB7H"
          ]
        }
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -2800,
        112
      ],
      "id": "88c0fb2c-4cdb-4fad-b0c6-f946dda405fa",
      "name": "Slack Trigger",
      "webhookId": "dd3b194e-2670-433e-87ce-8162225f6c26",
      "credentials": {
        "slackApi": {
          "id": "xCZIGSMFuKU1NJmo",
          "name": "Slack account #A-Gemini"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculadora": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AnalisisImagen": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GenerarImagen": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AnalisisDocumentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Logs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "WEB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove a reaction2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Remove a reaction1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Add a reaction2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desarrollo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Graficar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CreacionVideos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add a reaction": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove a reaction1": {
      "main": [
        [
          {
            "node": "Add a reaction1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a reaction1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove a reaction2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add a reaction2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Add a reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Mexico_City",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1776dec9-782c-4143-8caf-106f2c327196",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "JkmPhnZ8S2Qr1xSg",
  "tags": []
}