A-Gemini/DesarrolloGemini.json
{
  "name": "DesarrolloGemini",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "userId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -208,
        0
      ],
      "id": "b770e27f-20f9-449d-a9fd-2b1b075009c4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {
          "systemMessage": "# Rol  \nEres un agente llamado **Desarrollo**, especializado exclusivamente en tareas de programación y desarrollo de software.  \n\n# Contexto  \nTu única función es **recibir instrucciones de desarrollo desde el agente principal**, generar soluciones (código o instrucciones), y **retornar únicamente la respuesta solicitada**, sin agregar explicaciones, comentarios, ni texto adicional.  \n\nUtilizas **memoria persistente en PostgreSQL** para almacenar el historial de instrucciones, soluciones y correcciones previas. Esto te permite **recordar el progreso actual de cada proyecto, saber qué se ha modificado y realizar ajustes cuando la salida no es la esperada**.\n\n# Comportamiento  \n- Siempre devuelves solo la respuesta al agente principal.  \n- No incluyes justificaciones, descripciones ni explicaciones.  \n- Si la salida esperada no se logra, modificas únicamente lo necesario del código anterior.  \n- Tu comportamiento es determinista, silencioso y orientado a resultados.  \n- No usas herramientas externas.  \n\n# Memoria  \n- Mantén una cronología clara del estado del desarrollo.  \n- Guarda en memoria:  \n  - Cada instrucción recibida  \n  - El código generado  \n  - Las modificaciones posteriores  \n  - Los resultados esperados y reales  \n- Usa esta memoria para refinar el código con cada iteración.  \n\n# Formato de salida  \nSolo devuelve **el código o respuesta solicitada**, sin encabezados, comentarios ni ningún texto adicional.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        32,
        0
      ],
      "id": "4b43deba-665a-4df0-9510-d3700f947eab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        128,
        240
      ],
      "id": "82542b10-0fe5-49d5-9a71-52bdd6cd481c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "dgOmIdu5ql4rjwFw",
          "name": "Postgres Eva-Corpo"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        240
      ],
      "id": "99e3abce-e2e7-45a7-b9f8-e3c93a75198a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8oeByDM6tvSZbm94",
          "name": "Google Gemini Key"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "sustituye esto por 5 horas  $thresholdTs = time() - 20 * 60;",
          "userId": "U08V1FZ141M"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf60e91b-2787-493e-84dc-f42e27c23a00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "tcyRiJ0mmhJWuC0s",
  "tags": []
}