A-Gemini/LogsGemini.json
{
  "name": "LogsGemini",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "usuarioId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "9df12ff1-bfc5-4db1-a4b6-7fa175be0f65",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "logsgemini",
          "mode": "list",
          "cachedResultName": "logsgemini"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "correo": "={{ $json.correo }}",
            "userid": "={{ $json.userId }}",
            "username": "={{ $json.userName }}",
            "peticiones": 1
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "correo",
              "displayName": "correo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "peticiones",
              "displayName": "peticiones",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        128
      ],
      "id": "a3674856-f685-4a25-bb4e-5b3c1f233c78",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.usuarioId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "ab462ab6-d81b-4997-887e-1c358e407a03",
      "name": "Get information about a user",
      "webhookId": "91296286-fcf7-44fb-9a08-e2904291ed15",
      "credentials": {
        "slackApi": {
          "id": "k6FSHdRrXaiVb1DD",
          "name": "Slack #A-Gemini"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13ed7363-5060-4a38-9c00-f675c7f5717b",
              "name": "correo",
              "value": "={{ $json.name }}@tiendasneto.com",
              "type": "string"
            },
            {
              "id": "81eed328-24f7-4879-b810-f3a0f9bc9977",
              "name": "userId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b59324bb-9c34-453c-a853-fbb2ddd1183c",
              "name": "userName",
              "value": "={{ $json.profile.display_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "e07e1ffa-0e0d-4e0b-8e5a-43b81fb079ee",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "Select peticiones from logsgemini where userid = '{{ $('When Executed by Another Workflow').item.json.usuarioId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        -80
      ],
      "id": "44d6b4ce-3697-4433-9959-8f2394ff31c9",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0222ec7-da37-4b85-975d-498a78959ac1",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "0627f3d0-2c9c-4486-a475-a315ab07ec15",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1\n    FROM logsgemini\n    WHERE userId = 'U091B7WDXJ4'\n) AS existe;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        0
      ],
      "id": "258be35d-cd41-48cd-b843-64bc32da27fe",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "logsgemini",
          "mode": "list",
          "cachedResultName": "logsgemini"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userid": "={{ $('When Executed by Another Workflow').item.json.usuarioId }}",
            "peticiones": "={{ $json.peticiones }}\n",
            "username": "="
          },
          "matchingColumns": [
            "userid"
          ],
          "schema": [
            {
              "id": "correo",
              "displayName": "correo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "peticiones",
              "displayName": "peticiones",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        -80
      ],
      "id": "53606641-4a9d-423b-ae95-7ddd2013f1e7",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "R61MFbkxKEgO2hHh",
          "name": "Postgres $LogsGemini"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let peticiones = $input.first().json.peticiones;\npeticiones++;\nconsole.log(peticiones);\nreturn { peticiones };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -80
      ],
      "id": "dc3d4ecb-5b1d-486c-b5f1-c2f70e96d971",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2032,
        -80
      ],
      "id": "237d329b-6462-47d4-8ac4-69374c92e2bf",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        128
      ],
      "id": "7c31e8a8-3108-4cbd-898c-1487a285ad6b",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95026bde-c893-4b18-9774-830bf244f5d1",
              "name": "success",
              "value": "OK",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        -80
      ],
      "id": "40aceef6-663d-46b5-8658-90be490c34c9",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Que es esta imagen?",
          "usuarioId": "U091B7WDXJ4"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get information about a user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get information about a user": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b276ba1-3c3c-468e-9329-13d44673e061",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "vRXftCqw9dfybsTH",
  "tags": []
}