A-GPT-OP/AnalisisDocumentos_OP.json
{
  "name": "AnalisisDocumentos_OP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "UserID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        1056
      ],
      "id": "fa578ce6-261b-4caf-9ba7-ea7effdaec6c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        0
      ],
      "id": "67af6d74-9b84-43cd-acdd-2f6b6f8aa4ed",
      "name": "HTTP Request",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "d12748f9-2cfa-44ac-92ef-d8830919d8d4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        528
      ],
      "id": "b72a864d-008c-4be9-816f-d036bef6bf41",
      "name": "HTTP Request1",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "20f45e4b-7186-4752-b999-e4d4b220d658"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d706b7e0-5c89-42e9-ab39-0e462181c2d6",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EXCELNEW"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2578e382-453a-4750-bd3a-8d8aec66f4e6",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".xls",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EXCEL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d1972510-f79d-419c-8fad-f77a8d67eafc",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".rtf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RTF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d4305a6e-7dd2-421a-85e8-0cb2c6b5b2af",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d5b901da-66db-4be0-920d-359141277bff",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".html",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HTML"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c43757b7-50c9-487e-b718-8d44e6b1a50b",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".ics",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ICS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "404f702d-01b2-4e38-bdb4-8b46733210d5",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".json",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JSON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a50474b7-9958-438a-bfd6-7c71c9204280",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".ods",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ODS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fffd6be5-329e-4fc7-93bc-0a4d520b567f",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": "=.txt",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16a1c92f-bd3e-4ae5-b4ad-cd5f8e9330c7",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".xml",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XML"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96e70efe-0cb2-47dd-8aad-070cacbc41bd",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".pptx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PPTX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bbf1800f-2523-4135-b31a-9e760339700a",
                    "leftValue": "={{ $json.url }}",
                    "rightValue": ".docx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -912,
        880
      ],
      "id": "86590f66-c0a9-4c8f-9485-07e3ff798d53",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        160
      ],
      "id": "a6e2207a-1974-43d9-9d72-842032227ff6",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        160
      ],
      "id": "d10e097e-5da1-40b1-92c7-47b49340a7f5",
      "name": "HTTP Request2",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        352
      ],
      "id": "f6a7778d-b78a-4cc8-aebb-df1164338e78",
      "name": "HTTP Request3",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        352
      ],
      "id": "a3eb6128-75a0-4788-a940-5bd66955f557",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        528
      ],
      "id": "c7c3ec8f-5bd2-45f8-aef2-d0f7ecf30633",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        688
      ],
      "id": "d3eb4f92-df8e-4349-aad1-921cde428bf8",
      "name": "HTTP Request4",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        688
      ],
      "id": "1dde97b4-7cd7-4656-a265-35f32a930d10",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        896
      ],
      "id": "4cf46830-621e-40b2-bb59-29e575da3857",
      "name": "HTTP Request5",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        896
      ],
      "id": "4651a2fe-c438-4df4-9139-eeb354f0b55a",
      "name": "Extract from File5"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        1072
      ],
      "id": "63f126b3-6d3e-4c93-9159-6762216c4300",
      "name": "HTTP Request6",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromIcs",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        1072
      ],
      "id": "abf6908c-9617-40d8-9e41-6970d43d5eb2",
      "name": "Extract from File6"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        1248
      ],
      "id": "36f589ff-fc13-4149-a279-0753a9314281",
      "name": "HTTP Request7",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        1248
      ],
      "id": "3e0b63a2-833c-4666-860c-090b9315c1f4",
      "name": "Extract from File7"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        1408
      ],
      "id": "84e8b6c5-3910-41e5-974c-225da65ea7de",
      "name": "HTTP Request8",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "ods",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        1408
      ],
      "id": "a6ab5b69-8c46-4401-817f-c624215da6a1",
      "name": "Extract from File8"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        1568
      ],
      "id": "39b50ab1-1285-4fbd-b989-4bb87b261c58",
      "name": "HTTP Request9",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        1568
      ],
      "id": "ccd80cd3-8a52-473a-98ce-c24f80fc6fb5",
      "name": "Extract from File9"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        1712
      ],
      "id": "b19bd40d-3be9-4edd-8279-ca5973f4f2b4",
      "name": "HTTP Request10",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        1712
      ],
      "id": "0137d2ec-7d6a-4247-8cb3-9b0ae4aa8002",
      "name": "Extract from File10"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        1904
      ],
      "id": "02878b87-dd01-4d11-b5b6-c74fc870ebb2",
      "name": "HTTP Request11",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        1904
      ],
      "id": "493a1cd7-48e7-458a-8919-3bbf8a3c44de",
      "name": "Extract from File11"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://v2.convertapi.com/convert/pptx/to/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2xWWViMphIWYQpbSQQTXJV8nwkxWKSLo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"Parameters\": [\n        {\n            \"Name\": \"File\",\n            \"FileValue\": {\n                \"Name\": \"mifil.pptx\",\n                \"Data\": \"{{$json.data}}\"\n            }\n        },\n        {\n            \"Name\": \"StoreFile\",\n            \"Value\": true\n        }\n    ]\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        1904
      ],
      "id": "59da614a-0b7f-4803-807a-c9ac06eacfe2",
      "name": "ConvertAPI HTTP Request",
      "extendsCredential": "convertApi",
      "credentials": {
        "convertApi": {
          "id": "04vNPOXlA115DTTC",
          "name": "ConvertAPI account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Files[0].Url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1904
      ],
      "id": "cb39be2f-ed52-4bea-a21b-cf5ac08929bb",
      "name": "HTTP Request12",
      "credentials": {
        "slackApi": {
          "id": "WPl1Iv7WmYbtplFW",
          "name": "Slack #A-GPT"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        784,
        1904
      ],
      "id": "cc483095-5e28-449c-bafb-c847816fbe10",
      "name": "Extract from File12"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        2096
      ],
      "id": "79b659d1-b61f-4796-a14a-d01611b274f1",
      "name": "HTTP Request13",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        32,
        2096
      ],
      "id": "d6462510-a740-466b-a824-f1ab8e6de0b9",
      "name": "Extract from File13"
    },
    {
      "parameters": {
        "url": "={{ $json.Files[0].Url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        2096
      ],
      "id": "9373de3c-9e10-42cf-a9bb-b2d6b0ca1e2c",
      "name": "HTTP Request14",
      "credentials": {
        "slackApi": {
          "id": "WPl1Iv7WmYbtplFW",
          "name": "Slack #A-GPT"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        784,
        2096
      ],
      "id": "a2efe915-6577-4146-b4fe-b972d9bb27c7",
      "name": "Extract from File14"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://v2.convertapi.com/convert/docx/to/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2xWWViMphIWYQpbSQQTXJV8nwkxWKSLo"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"Parameters\": [\n        {\n            \"Name\": \"File\",\n            \"FileValue\": {\n                \"Name\": \"mifil.docx\",\n                \"Data\": \"{{$json.data}}\"\n            }\n        },\n        {\n            \"Name\": \"StoreFile\",\n            \"Value\": true\n        }\n    ]\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        2096
      ],
      "id": "4a258c2a-a5a0-4845-93fc-615b6ae6c7b4",
      "name": "ConvertAPI HTTP Request1",
      "extendsCredential": "convertApi",
      "credentials": {
        "convertApi": {
          "id": "04vNPOXlA115DTTC",
          "name": "ConvertAPI account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "url": "https://files.slack.com/files-pri/T9XJE11PE-F097DE7ADEE/download/levantamiento_proceso_trax__1era_parte_.docx",
          "UserID": "U092B470DEU"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Extract from File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Extract from File7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Extract from File8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Extract from File9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Extract from File10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Extract from File11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File11": {
      "main": [
        [
          {
            "node": "ConvertAPI HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAPI HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Extract from File12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Extract from File13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File13": {
      "main": [
        [
          {
            "node": "ConvertAPI HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "Extract from File14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAPI HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee2aa95e-ed8b-4f1a-881d-4f59efd9465b",
  "meta": {
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "8bd4xZgqNcmGHd1e",
  "tags": []
}