A-GPT-OP/GenerarImagenOP.json
{
  "name": "GenerarImagenOP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "ChanelID"
            },
            {
              "name": "thread_ts"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        -128
      ],
      "id": "cf958b03-09cb-4d3e-b4f1-07d4b5db154c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -240,
        -128
      ],
      "id": "13b0f5b2-77d0-4f56-9894-4027f90f6f32",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "fKavKBDAFMDMeKJR",
          "name": "OpenAi Neto"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "channelId": "={{ $('When Executed by Another Workflow').item.json.ChanelID }}",
          "fileName": "img.png",
          "threadTs": "={{ $('When Executed by Another Workflow').item.json.thread_ts }}",
          "title": "=img-{{ $now.format('yyyy-MM-dd HH:mm')}}"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -16,
        -128
      ],
      "id": "d1378e2e-f828-4c17-9143-e4580f5aa2cb",
      "name": "Upload a file",
      "webhookId": "482b13c6-4c2f-410a-86a8-3f56277b98ac",
      "credentials": {
        "slackApi": {
          "id": "0gIpN1ByfQqRZC5m",
          "name": "Slack account #A-GPT_OP"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        176,
        -128
      ],
      "id": "91a95a25-5c1c-4bfb-8235-9df5ca632b21",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Canal: D09738VKLMV, Prompt: \"Batman jugando fútbol en un estadio, estilo realista\"",
          "ChanelID": "D09738VKLMV",
          "thread_ts": "1753472198.563459"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f42d612d-b1f2-425a-93a0-c228b6ae1cdb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "5ECFdiQdM867X9KY",
  "tags": []
}