A-Inspector/A-Inspector.json
{
  "name": "A-Inspector",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Slack Trigger').item.json.text }}\n{{ $('Slack Trigger').item.json.files[0].mimetype }}",
        "options": {
          "systemMessage": "=Rol\nEres un asistente de automatización conectado a Slack. Tu tarea es analizar imagenes y extraer los precios de los productos, asi como los producto de las fotos de los estantes.\n\nPara ello utilizas la herramienta `Imagen` a la cual le enviaras la url {{ $('Slack Trigger').item.json.files[0].url_private }} de la imagen a anlizar y esperar a que te retorne el analisis.\n\nSi te saludan o te preguntan sobre tus cpacidades, responde con:\n¡Hola! 👋 Soy Lucía, tu asistente de análisis de productos. 🛍️\n\n¿Qué puedo hacer por ti?\n\n📸 EXTRACCIÓN DE PRODUCTOS POR IMAGEN\nPuedo analizar imágenes de estantes o productos para identificar y extraer toda la información relevante.\n\nEjemplos de solicitud:\n\"Por favor analiza los productos y precios de esta imagen de Tiendas 3B\"\n\"Extrae la información de los productos en esta foto de Aurrera Express\"\n\n📍 Importante: Siempre incluye el nombre de la tienda para que pueda contextualizar correctamente los productos.\n\n📋 Mi análisis incluye:\n• 🔍 Identificación del producto\n• 💰 Precio (cuando es visible en la imagen)\n• 🏷️ Categoría del producto\n• 📦 Presentación y formato\n• 🏪 Tienda de referencia\n\n¿Listo para analizar algunos productos? ¡Solo comparte tu imagen mencionando la tienda! 😊"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        0
      ],
      "id": "71a63bad-64be-41bf-be48-4e9d87e476b9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        208
      ],
      "id": "34f967de-3583-44e3-816a-ddcdbdc72032",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FAK9ncdTs0r5RJkd",
          "name": "A-Lucia"
        }
      }
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para analizar imágenes, y retorna toda la información completa",
        "workflowId": {
          "__rl": true,
          "value": "afvGWEJPx2vX1TrB",
          "mode": "list",
          "cachedResultUrl": "/workflow/afvGWEJPx2vX1TrB",
          "cachedResultName": "Inspector #A-Imagen"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('Slack Trigger').item.json.files[0].url_private }}",
            "userId": "={{ $('Slack Trigger').item.json.files[0].user }}",
            "empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('empresa', ``, 'string') }}",
            "id_sesion": "={{ $('Slack Trigger').item.json.ts }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_sesion",
              "displayName": "id_sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        48,
        208
      ],
      "id": "d9d0a32f-fa1e-4d2b-8345-1fd64da4db38",
      "name": "Imagen"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $('AI Agent').item.json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        368,
        0
      ],
      "id": "8cf7b0ad-7e1a-42e7-9d23-c91bef4e5e12",
      "name": "Send a message",
      "webhookId": "180dbcc2-55e4-4e18-a1de-a5b15c7acb6f",
      "credentials": {
        "slackApi": {
          "id": "KeRz8uv4jvr2vGMf",
          "name": "Slack#A-Inspector"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "neto-cloud",
          "mode": "list",
          "cachedResultName": "Neto-Cloud",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=neto-cloud"
        },
        "sqlQuery": "{{ $fromAI('query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQueryTool",
      "typeVersion": 2.1,
      "position": [
        496,
        208
      ],
      "id": "ac019c3c-4fe1-48d7-848a-f43dd9409e88",
      "name": "ExecuteQuery",
      "credentials": {
        "googleApi": {
          "id": "BrAyOfCNy2JTszLb",
          "name": "Google Service Account account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando necesites un uuid univoco e irrepetible",
        "workflowId": {
          "__rl": true,
          "value": "D5LxxphpWPFdg6dg",
          "mode": "list",
          "cachedResultUrl": "/workflow/D5LxxphpWPFdg6dg",
          "cachedResultName": "uuid#A-Precios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        160,
        208
      ],
      "id": "0f0209df-1204-44fb-a754-5d3391cc8669",
      "name": "uuid",
      "disabled": true
    },
    {
      "parameters": {
        "description": "Usa esta herramienta para obtener los datos del usuario.",
        "workflowId": {
          "__rl": true,
          "value": "j7iJeUrVWsLQTW9A",
          "mode": "list",
          "cachedResultUrl": "/workflow/j7iJeUrVWsLQTW9A",
          "cachedResultName": "ObtenerDatosUsuario#A-Precios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Slack Trigger').item.json.user }}"
          },
          "matchingColumns": [
            "userId"
          ],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        288,
        208
      ],
      "id": "9d5083ae-c1ec-4841-888c-21f2c380efa3",
      "name": "ObtenerDatosUsuario",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $json.ts }}",
        "name": "eyes"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -464,
        0
      ],
      "id": "5f4b9745-a7b2-4f83-89bb-e5c1c584d1d9",
      "name": "Add a reaction",
      "webhookId": "2f0093d6-bb30-40f2-9c48-9f0b842f1522",
      "credentials": {
        "slackApi": {
          "id": "KeRz8uv4jvr2vGMf",
          "name": "Slack#A-Inspector"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "remove",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $('Slack Trigger').item.json.ts }}",
        "name": "eyes"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        160,
        0
      ],
      "id": "e3dfcefc-558f-48b0-b03f-2418769f016a",
      "name": "Remove a reaction",
      "webhookId": "83355261-73b1-491f-b1e6-b4ff7ad5cd7a",
      "credentials": {
        "slackApi": {
          "id": "KeRz8uv4jvr2vGMf",
          "name": "Slack#A-Inspector"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $json.message.ts }}",
        "name": "white_check_mark"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        576,
        0
      ],
      "id": "7f2fedd6-ef2d-4f7d-813e-4d06d56f7674",
      "name": "Add a reaction1",
      "webhookId": "1e8e613e-a802-4aae-b93d-5c1698498eed",
      "credentials": {
        "slackApi": {
          "id": "KeRz8uv4jvr2vGMf",
          "name": "Slack#A-Inspector"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {
          "resolveIds": true,
          "userIds": [
            "U093XJ4EY5A",
            "U09GHGTKSL8",
            "U09GZHNV8UQ",
            "U099C6HKQJY",
            "U0950KQEB7H",
            "U0968SYAHKP"
          ]
        }
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        0
      ],
      "id": "5af4e5e1-a038-453b-ae44-1bede14a652a",
      "name": "Slack Trigger",
      "webhookId": "030afa99-adb4-40ac-9bdc-3680e58bc724",
      "credentials": {
        "slackApi": {
          "id": "KeRz8uv4jvr2vGMf",
          "name": "Slack#A-Inspector"
        }
      }
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "type": "message",
          "text": "Analiza los productos de la siguiente imagen de las tiendas 3B",
          "files": [
            {
              "id": "F09TVGNHUDD",
              "created": 1763669624,
              "timestamp": 1763669624,
              "name": "IMG_7030.jpeg",
              "title": "IMG_7030.jpeg",
              "mimetype": "image/jpeg",
              "filetype": "jpg",
              "pretty_type": "JPEG",
              "user": "U091B7WDXJ4",
              "user_team": "T9XJE11PE",
              "editable": false,
              "size": 5627921,
              "mode": "hosted",
              "is_external": false,
              "external_type": "",
              "is_public": false,
              "public_url_shared": false,
              "display_as_bot": false,
              "username": "",
              "url_private": "https://files.slack.com/files-pri/T9XJE11PE-F09TVGNHUDD/img_7030.jpeg",
              "url_private_download": "https://files.slack.com/files-pri/T9XJE11PE-F09TVGNHUDD/download/img_7030.jpeg",
              "media_display_type": "unknown",
              "thumb_64": "https://files.slack.com/files-tmb/T9XJE11PE-F09TVGNHUDD-7d2130d8ba/img_7030_64.jpg",
              "thumb_80": "https://files.slack.com/files-tmb/T9XJE11PE-F09TVGNHUDD-7d2130d8ba/img_7030_80.jpg",
              "thumb_360": "https://files.slack.com/files-tmb/T9XJE11PE-F09TVGNHUDD-7d2130d8ba/img_7030_360.jpg",
              "thumb_360_w": 270,
              "thumb_360_h": 360,
              "thumb_480": "https://files.slack.com/files-tmb/T9XJE11PE-F09TVGNHUDD-7d2130d8ba/img_7030_480.jpg",
              "thumb_480_w": 360,
              "thumb_480_h": 480,
              "thumb_160": "https://files.slack.com/files-tmb/T9XJE11PE-F09TVGNHUDD-7d2130d8ba/img_7030_160.jpg",
              "thumb_720": "https://files.slack.com/files-tmb/T9XJE11PE-F09TVGNHUDD-7d2130d8ba/img_7030_720.jpg",
              "thumb_720_w": 540,
              "thumb_720_h": 720,
              "thumb_800": "https://files.slack.com/files-tmb/T9XJE11PE-F09TVGNHUDD-7d2130d8ba/img_7030_800.jpg",
              "thumb_800_w": 800,
              "thumb_800_h": 1067,
              "thumb_960": "https://files.slack.com/files-tmb/T9XJE11PE-F09TVGNHUDD-7d2130d8ba/img_7030_960.jpg",
              "thumb_960_w": 720,
              "thumb_960_h": 960,
              "thumb_1024": "https://files.slack.com/files-tmb/T9XJE11PE-F09TVGNHUDD-7d2130d8ba/img_7030_1024.jpg",
              "thumb_1024_w": 768,
              "thumb_1024_h": 1024,
              "original_w": 4284,
              "original_h": 5712,
              "thumb_tiny": "AwAwACSZfnBKjIFP5C5IJJ55FQ+cyEtgv2PanrcI5Vnjw3rgVO47ChvUjHvRtySAOlBnB4KHae4PNEci5K4IBPUnp+NHoAeUTzxR5R9qryXb7zsyF7DFN+1S+p/L/wCtStIBgj2ZKPtPOe3GacyksdsqDjHuc/5FRyvIjkKVOOeFB96A0zNnJBPULxj3OKoByqcHMn1wM08wlgfnZgPVTTdrbl3Ox9mPH605okYkqAcdz3/pU31GCxh1B+0KPqf/AK9L5I/5+V/P/wCvSwOqoQvyjPTj/GpfN/2v0H+NUIqSuyS+Um0Y7+v1zSbZ5BhnYg9snFMGfPJ5ORz61OG5B6qeOR06/hSbARVEQBJVvbr/AJ/+vSEfKcA4xjpRIy5KjDc9uhoVGJzgD3PWkkxiAgdABn2o3fT8v/r08LEOoBPqRRiH+6PyqrBc/9k=",
              "permalink": "https://tiendasnetocorpo.slack.com/files/U091B7WDXJ4/F09TVGNHUDD/img_7030.jpeg",
              "permalink_public": "https://slack-files.com/T9XJE11PE-F09TVGNHUDD-4075028e64",
              "skipped_shares": true,
              "has_rich_preview": false,
              "file_access": "visible"
            }
          ],
          "upload": false,
          "user": "U091B7WDXJ4",
          "display_as_bot": false,
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "HDYFs",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "text",
                      "text": "Analiza los productos de la siguiente imagen de las tiendas 3B"
                    }
                  ]
                }
              ]
            }
          ],
          "ts": "1763669638.558139",
          "client_msg_id": "ccdde4a8-0a24-4a13-bd68-6552375a7890",
          "channel": "D09FQATP1T8",
          "subtype": "file_share",
          "event_ts": "1763669638.558139",
          "channel_type": "im",
          "user_resolved": "juan.garciag"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Remove a reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Imagen": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Add a reaction1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExecuteQuery": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "uuid": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerDatosUsuario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add a reaction": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove a reaction": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Add a reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04abdeb5-e3e6-486c-b8dd-3b3534c6112e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "c6kUD9vhgFNBVBxf",
  "tags": []
}