A-Gemini-OP/GeneradorImagenGemini_OP.json
{
  "name": "GeneradorImagenGemini_OP",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "ChanelID"
            },
            {
              "name": "thread_ts"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        0
      ],
      "id": "f351b437-3bad-4edf-86cb-bc85452e71e2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "file",
        "options": {
          "channelId": "={{ $('When Executed by Another Workflow').item.json.ChanelID.toString() }}",
          "fileName": "img.png",
          "threadTs": "={{ $('When Executed by Another Workflow').item.json.thread_ts }}",
          "title": "=img-{{ $now.format('yyyy-MM-dd HH:mm')}}"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        96,
        0
      ],
      "id": "439ecc5c-1592-4612-9da1-423c22a035fd",
      "name": "Upload a file",
      "webhookId": "482b13c6-4c2f-410a-86a8-3f56277b98ac",
      "credentials": {
        "slackApi": {
          "id": "Fqi16ZOXwmsKQMrm",
          "name": "Slack account #A-GEMINI_OP"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        544,
        0
      ],
      "id": "e7032297-f8bc-45a0-9405-e6454373ec16",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0950KQEB7H",
          "mode": "list",
          "cachedResultName": "agemini"
        },
        "text": "={{ $json.permalink }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        320,
        0
      ],
      "id": "7149ad64-beb2-460e-93ef-73acc4e45f47",
      "name": "Send a message",
      "webhookId": "c16739f2-7e4f-4e92-8c51-fa8ae06618bf",
      "credentials": {
        "slackApi": {
          "id": "xCZIGSMFuKU1NJmo",
          "name": "Slack account #A-Gemini"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-4.0-ultra-generate-preview-06-06",
          "mode": "list",
          "cachedResultName": "models/imagen-4.0-ultra-generate-preview-06-06"
        },
        "prompt": "={{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        0
      ],
      "id": "4f16cf47-1f3d-4e0f-8341-a61954c7f771",
      "name": "Generate an image1",
      "credentials": {
        "googlePalmApi": {
          "id": "8oeByDM6tvSZbm94",
          "name": "Google Gemini Key"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Canal: D0987CY46AU, Podrías hacer una imagen de un oso mamado",
          "ChanelID": "D0987CY46AU",
          "thread_ts": "1753475961.061929"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22654438-f015-4d5d-9b9d-00267722d355",
  "meta": {
    "instanceId": "513b8468f38706db87bc69e329565f9d7c7508c065cd8491cb3b8e0d8f69afa3"
  },
  "id": "RHpYuGRx9yrnIc3q",
  "tags": []
}